<p style="color: green"><%= notice %></p>

<div class="card">
  <div class="card-header bg-primary">
    <h1 style="color: white;">Scans</h1>
  </div>

  <div class="card-body">
    <div id="scans">
      <% @scans.each do |scan| %>
        <%= render scan %>
        <p>
          <%= link_to "Show this scan", scan %>
        </p>
      <% end %>
    </div>

    <%= link_to "New scan", new_scan_path %>
  </div>
</div>