<div class="card">
  <div class="card-header bg-primary">
    <h1 style="color: white;">New scan</h1>
  </div>

  <div class="card-body">
    <%= render "form", scan: @scan %>

    <br>

    <div>
      <%= link_to "Back to scans", scans_path %>
    </div>
  </div>
</div>