@import "bootstrap";

.balanceSheet {
  color: grey;
}

.balanceSheetPressed {
  color: #18bc9c;
  text-decoration: underline;
}

.hideSheet {
  display: none;
}

.toggle-container {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
}

.quarter-yearly-toggle {
  cursor: pointer;
}

.quarter {
  margin-right: 10px;
}

.quarter:hover {
  text-decoration: underline;
}

.annual {
  margin-left: 10px;
}

.annual:hover {
  text-decoration: underline;
}

.financials-header {
  font-weight: bold;
}

.financials-sub-header {
  margin-left: 10px;
}

.financials-item {
  margin-left: 20px;
}

.financials-sub-item {
  margin-left: 30px;
}
